Servicios/TrazabilidadCarne.Test/Service References/TrazabilidadCarnesService/Barra2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoProceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoResutado" type="xs:int" />
      <xs:element minOccurs="0" name="Item" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoProceso" nillable="true" type="tns:ResultadoProceso" />
  <xs:complexType name="ArrayOfEntidadItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadItem" nillable="true" type="tns:EntidadItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadItem" nillable="true" type="tns:ArrayOfEntidadItem" />
  <xs:complexType name="EntidadItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoBalanza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadItem" nillable="true" type="tns:EntidadItem" />
  <xs:complexType name="ArrayOfEntidadProcedencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadProcedencia" nillable="true" type="tns:EntidadProcedencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadProcedencia" nillable="true" type="tns:ArrayOfEntidadProcedencia" />
  <xs:complexType name="EntidadProcedencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoProcedencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreProcedencia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadProcedencia" nillable="true" type="tns:EntidadProcedencia" />
  <xs:complexType name="ArrayOfEntidadFrigorifico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadFrigorifico" nillable="true" type="tns:EntidadFrigorifico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadFrigorifico" nillable="true" type="tns:ArrayOfEntidadFrigorifico" />
  <xs:complexType name="EntidadFrigorifico">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoFrigorifico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoProcedencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFrigorifico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadFrigorifico" nillable="true" type="tns:EntidadFrigorifico" />
  <xs:complexType name="ArrayOfEntidadParidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadParidad" nillable="true" type="tns:EntidadParidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadParidad" nillable="true" type="tns:ArrayOfEntidadParidad" />
  <xs:complexType name="EntidadParidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemCompra" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemVenta" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadParidad" nillable="true" type="tns:EntidadParidad" />
</xs:schema>