Servicios/TrazabilidadCarne.Test/Service References/ServiceInventarioCarnes/InventarioCarnes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dsac.dyndns.info:8084/TrazabilidadCarnesService/InventarioCarnes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" />
  <xs:element name="ObtieneItemCaniceria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneItemCaniceriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" minOccurs="0" name="ObtieneItemCaniceriaResult" nillable="true" type="q1:ArrayOfEntidadItemCarniceria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMotivoInventario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMotivoInventarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" minOccurs="0" name="ObtieneMotivoInventarioResult" nillable="true" type="q2:ArrayOfEntidadMotivoInventario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemPadre" type="xs:int" />
        <xs:element minOccurs="0" name="store" type="xs:int" />
        <xs:element minOccurs="0" name="item" type="xs:int" />
        <xs:element minOccurs="0" name="fechaInventario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaLectura" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="origenFrigorifico" type="xs:int" />
        <xs:element minOccurs="0" name="certificadoEmbarque" type="xs:decimal" />
        <xs:element minOccurs="0" name="fechaFaena" type="xs:int" />
        <xs:element minOccurs="0" name="pesoNeto" type="xs:decimal" />
        <xs:element minOccurs="0" name="pesoBruto" type="xs:decimal" />
        <xs:element minOccurs="0" name="cajas" type="xs:int" />
        <xs:element minOccurs="0" name="responsable" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMotivonventario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresoItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" minOccurs="0" name="IngresoItemResult" nillable="true" type="q3:ResultadoProceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>