Servicios/TrazabilidadCarne.Test/Service References/ServiceInventarioCarnes/InventarioCarnes2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntidadItemCarniceria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadItemCarniceria" nillable="true" type="tns:EntidadItemCarniceria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadItemCarniceria" nillable="true" type="tns:ArrayOfEntidadItemCarniceria" />
  <xs:complexType name="EntidadItemCarniceria">
    <xs:sequence>
      <xs:element minOccurs="0" name="FineLineNbr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadItemCarniceria" nillable="true" type="tns:EntidadItemCarniceria" />
  <xs:complexType name="ArrayOfEntidadMotivoInventario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadMotivoInventario" nillable="true" type="tns:EntidadMotivoInventario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadMotivoInventario" nillable="true" type="tns:ArrayOfEntidadMotivoInventario" />
  <xs:complexType name="EntidadMotivoInventario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMotivoInventario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadMotivoInventario" nillable="true" type="tns:EntidadMotivoInventario" />
  <xs:complexType name="ResultadoProceso">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoResutado" type="xs:int" />
      <xs:element minOccurs="0" name="Item" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoProceso" nillable="true" type="tns:ResultadoProceso" />
</xs:schema>