Servicios/TrazabilidadCarne.Test/Service References/TrazabilidadCarnesSericeLocal/Local2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dsac.dyndns.info:8084/TrazabilidadCarnesService/Local.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" />
  <xs:element name="ObtieneLocales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneLocalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrazabilidadCarne.Services" minOccurs="0" name="ObtieneLocalesResult" nillable="true" type="q1:ArrayOfEntidadLocal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>